body {
    padding-left: 200px;
    padding-right: 200px;
}

.content {
    background-color: #f6f6f0;
}

ol li::marker {
    color: #777777;
}

ol li {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.padding-20 {
    padding: 20px 20px 20px 20px;
}