{% extends 'base.html' %}

{% block content %}

<div class="padding-20">
    <h3>{{ post.title }}</h3>
    <hr/>
    <ul>
        <li>내용: {{ post.body }}</li>
        <li>작성자: {{ post.author_name }}</li>
        <li>점수: {{ post.points }}</li>
        <li>작성일: {{ post.created_at }}</li>
    </ul>
    <form action="{% url 'post_like' post.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="좋아요 ❤️">
    </form>
    <hr/>
    <a href="{% url 'posts' %}">> 게시글 목록</a>
</div>

{% endblock %}